.container >header{
  margin: 1rem;
}
.navers{
  margin-top: 5rem;
}

.navers > h3{
  font-weight: 600;
  font-size: 42px;
  margin: 3rem 1rem 0rem 7rem;
}
main{
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  height: 100vh;
  margin:0 0 0rem 2rem;
}